<div class="card">
  <%= link_to image_tag prototype.image, class: :card__img , if prototype.image.attacged? #root_path %>
  <div class="card_body">
    <%= link_to "title", root_path, class: :card__title%>
    <p class="card_summary">
      <%= "catch_copy" %>
    </p>
    <%= link_to "by name", root_path, class: :card__user %>
  </div>
</div>